
.selection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #eee;
}

.selection-header img {
  height: 35px;
}

.selection-header span {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}